/*login*/
.bg-login {
  background-image: url("../img/bg-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-blue {
  background: rgba(153, 204, 255, 0.7);
}

.box-shadow {
  box-shadow: 1px 1px 3px 5px rgba(0,0,0,0.6);
}

.logo-user {
  width: 25%;
  border-radius: 50%;
  position: absolute;
  left: 37%;
  top: -27%;
  z-index: 1;
}

.margin-top {
  margin-top: 120px;
}

.anchorPersonalizado:link, .anchorPersonalizado:visited {
  color: tomato;
}

.anchorPersonalizado:hover, .anchorPersonalizado:active {
  color: white;
  background: tomato;
  padding: 1px;
  text-transform: uppercase;
  box-shadow: 0px 0px 5px 6px tomato;
}

/*fin login*/
/*register*/
.box-register{
  border: solid 2px rgb(52, 152, 219);
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color:  rgba(255, 255, 255, 0.5);
}
.body-register{
  background-image: url("../img/bg-register.jpg");
  background-size: contain;
 }




/* index */

}


.margen{
  margin: 1px;
  border: solid 2px;
}
.borde-blanco{
  border-color: white;
}

.borde-negro{
  border: 20px;
  border-color: black;
}

.backg-header{
  background-color: rgb(52, 152, 219);
}
.margen_1px{
  margin: 1px;
}

.backg-grey{
  background-color: rgb(224, 235, 235);
}
.color-lightBlue{
  color: rgb(52, 152, 219);
}
#imagen{
  background-image: url(../img/index/tecnologia.jpeg);
  width: 220px;
  height: 220px;
  border-radius: 50%;



}

#info{
  position: absolute;
  overflow: hidden;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: rgb(179, 179, 179);
  -webkit-transition: opacity 0.2s;
  opacity: 0;
}

#imagen:hover #info{
  opacity: 0.8;
}

.zoom{
  transition: transform 0.5s;
}

.zoom:hover{
  transform: scale(1.2);
}
#headline{
  position: absolute;
  color: black;
  text-decoration: none;
  position: absolute;
  font-size: 21px;
  margin-left: 75px;
  margin-top: 75px;
}



#index{
  background-color: rgb(27, 102, 152);
}

.backg-footer{
  font-weight:300;
  font-family:Kanit, sans-serif;
}

.borde-blanco{
  font-weight: bold;
  height: 40px;
  border: solid 1px;
  border-color: white;
}

#boton-productos{
  position: absolute;
  left:1100px;
  bottom:30px;

  }
#caroussel1{
  height: 300px;
  background-image: url(../img/index/caroussel1.png);
}
#caroussel2{
  height: 300px;
  background-image: url(../img/index/caroussel2.png);
}
#caroussel3{
  height: 300px;
  background-image: url(../img/index/caroussel3.png);
}
#banner-productos{
  background-image: url(../img/index/banner-prod.png);
  height: 270px;
  width: 1300px;
}



@media (max-width: 991px) {
  #boton-productos{
    width: 100px;
    position: absolute;
    left: 600px;
  }
  .dropdown-item{
    font-weight:300;
    font-family:Kanit, sans-serif;
  }
  #caroussel1{
    height: 300px;
    background-image: url(../img/index/caroussel1-md.png);
  }
  #caroussel2{
    height: 300px;
    background-image: url(../img/index/caroussel2-md.png);
  }
  #caroussel3{
    height: 300px;
    background-image: url(../img/index/caroussel3-md.png);
  }
  #banner-productos{
    background-image: url(../img/index/banner-prod-md.png);
    height: 270px;
    width: 1300px;
  }
}


/* Fin CSS Index */
/*faqs*/
.goBack {
  background-image: url("../img/banner-faqs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.first-letter::first-letter {
  color: blue;
}

.list-none {
  list-style-type: none;
  padding: 0px;
}

/*oculto párrafos*/
.hideAndSeek p {
  display: none;
}
/*cambio las propiedades para visualizar los párrafos ocultos.*/
.hideAndSeek p:target {
  display: block;
}

.bg-white {
  background: white;
}
/*fin faqs*/
