.titulo {
  font-size: 34px;
}

.inflate:hover {
  font-size: 20px;
  padding: 5px 10px;
}

.animatedLabel span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animatedLabel span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.animatedLabel:hover span {
  padding-right: 25px;
  font-size: 18px;
}

.animatedLabel:hover span:after {
  opacity: 1;
  right: 0;
}
