.titulo {
  font-size: 34px;
}

.inflate:hover {
  font-size: 20px;
  padding: 5px 10px;
}

/* Efecto para boton cambiar contraseña */
.pulsador {
  padding: 5px;
  cursor: pointer;
  outline: none !important;
  background: #6699ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px #999;
}

.pulsador:hover {
  background-color: #3377ff;
}

.pulsador:active {
  background: #3377ff;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
/* Fin efecto boton cambiar contraseña */

/* Animacion para label's */
.animatedLabel span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animatedLabel span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.animatedLabel:hover span {
  padding-right: 25px;
  font-size: 18px;
}

.animatedLabel:hover span:after {
  opacity: 1;
  right: 0;
}
/* Fin animacion label's */
