.titulo {
  font-size: 34px;
}

.inflate:hover {
  font-size: 20px;
  padding: 5px 10px;
}

/* Diferentes colores para botones */
.color1 {
  background: #3399ff;
  color: #fff;
}
.color1:hover {
  background-color: #0080ff;
}
.color1:active {
  background: #0080ff;
}

.color2 {
  background: #4d4d4d;
  color: #fff;
}
.color2:hover {
  background: #333333;
}
.color2:active {
  background: #333333;
}

.color3 {
  background: #009933;
  color: #fff;
}
.color3:hover {
  background: #006622;
}
.color3:active {
  background: #006622;
}
/* Fin colores para botones */

/* Efecto pulsador para botones */
.pulsador {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  outline: none !important;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px #999;
}

.pulsador:active {
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
/* Fin efecto pulsador para botones */

/* Animacion para label's */
.animatedLabel span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animatedLabel span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.animatedLabel:hover span {
  padding-right: 25px;
  font-size: 18px;
}

.animatedLabel:hover span:after {
  opacity: 1;
  right: 0;
}
/* Fin animacion label's */
